In [1]:
print 'hi'

hi

In [3]:
import pandas as pd
df1 = pd.DataFrame.from_csv('survey_response12 words - Sheet1.tsv', sep='\t', header=0, index_col=False)

In [4]:
df1.head()

,Timestamp,Score,Location,Age,Native language,Your Proficiency with Hindi,Qualification,job,gift,share,film,review,interview,star,month,status,development,petrol,well
0,14/07/2016 13:44:52,NaN,Kolkata,20,Hindi,Expert,Higher Secondary,2,1,2,1,1,1,1,2,1,2,1,2
1,12/07/2016 12:33:25,NaN,Delhi,21,Hindi,Comfortable,Graduate,2,1,2,1,2,2,1,2,1,2,1,2
2,18/07/2016 02:09:27,NaN,Jaipur,22,Hindi,Comfortable,Graduate,1,1,2,1,1,1,1,2,1,2,1,2
3,15/07/2016 22:07:06,NaN,berhampur,22,Hindi,Expert,Graduate,2,2,None,2,2,2,2,2,2,2,None,2
4,15/07/2016 22:24:34,NaN,Guwahati,22,Non Hindi,Comfortable,Post Graduate and above,None,None,2,None,2,2,2,2,None,2,1,None

In [33]:
df1.groupby(keyWords[0])['job'].get_group('1').count()

23

In [43]:
keyWords=['job', 'gift', 'share', 'film', 'review', 'interview', 'star', 'month', 'status', 'development', 'petrol', 'well']

keyToCntDict = {}

for i in range(0, len(keyWords)):
    enCount=0
    try:
        enCount = df1.groupby(keyWords[i])[keyWords[i]].get_group('1').count()
    except KeyError:
        print "Key Error for " + keyWords[i]
    hiCount = df1.groupby(keyWords[i])[keyWords[i]].get_group('2').count()
    keyToCntDict[keyWords[i]]=enCount-hiCount

Key Error for month

In [47]:
keyToCntDict

{'development': -31,
 'film': 32,
 'gift': 19,
 'interview': 19,
 'job': -4,
 'month': -51,
 'petrol': 5,
 'review': -5,
 'share': -25,
 'star': 18,
 'status': 25,
 'well': -36}

In [58]:
for w in sorted(keyToCntDict, key=keyToCntDict.get, reverse=True):
    print w, keyToCntDict[w]

film 32
status 25
gift 19
interview 19
star 18
petrol 5
job -4
review -5
share -25
development -31
well -36
month -51

In [10]:
cmhTweets=0
hiTweets=0
enTweets=0
noneTweets=0

with open('Datasheet.csv','rU') as f:
    for x in f:
        tuples=x.split(',')
        enCount=0
        hiCount=0
        totalWordCount=0
        for i in range(1, len(tuples)) :
            r = tuples[i].split(':')
            sIndex = int(r[0])
            eIndex = int(r[1])
            wType = str(r[2])
            count = eIndex - sIndex +1
            totalWordCount += count
            if(wType == 'EN'):
                enCount+=count
            elif wType == 'HI' :
                hiCount+= count
                  
        enDec = float(enCount)/float(totalWordCount)
        hiDec = float(hiCount)/float(totalWordCount)
        res='None'
        if(enDec>.9):
            res='EN'
            enTweets+=1
        elif hiDec > .9:
            res='HI'
            hiTweets+=1
        elif hiDec > .5:
            res='CMH'
            cmhTweets+=1
        else :
            noneTweets+=1
        

print 'EnTweets' + ':' + str(enTweets)
print 'HiTweets' + ':' + str(hiTweets)
print 'CMHTweets' + ':' + str(cmhTweets)
print 'NoneTweets' + ':' + str(noneTweets)

EnTweets:412
HiTweets:23
CMHTweets:7350
NoneTweets:250972

In [62]:
cmhTweets=0
hiTweets=0
enTweets=0
noneTweets=0
idToTypeMap = {}
with open('Datasheet.csv','r') as f:
    for x in f:
        tuples=x.split(',')
        enCount=0
        hiCount=0
        totalWordCount=0
        otherCount=0
        neCount=0
        for i in range(1, len(tuples)) :
            r = tuples[i].split(':')
            sIndex = int(r[0])
            eIndex = int(r[1])
            wType = str(r[2])
            count = 1
            
            if(wType == 'EN'):
                enCount+=count
            elif wType == 'HI' :
                hiCount+= count
            elif wType == 'OTHER' :
                otherCount+=count
            elif wType == 'NE' :
                neCount+=count
        
        totalWordCount=enCount+hiCount
            
        enDec = float(enCount)/float(totalWordCount)
        hiDec = float(hiCount)/float(totalWordCount)
        res='None'
        if(enDec>.9):
            res='EN'
            enTweets+=1
        elif hiDec > .9:
            res='HI'
            hiTweets+=1
        elif hiDec > .5:
            res='CMH'
            cmhTweets+=1
        else :
            noneTweets+=1
        
        idToTypeMap[tuples[0]]= res
        

print 'EnTweets' + ':' + str(enTweets)
print 'HiTweets' + ':' + str(hiTweets)
print 'CMHTweets' + ':' + str(cmhTweets)
print 'NoneTweets' + ':' + str(noneTweets)

EnTweets:168577
HiTweets:6319
CMHTweets:13718
NoneTweets:70143

In [63]:
keyWords=['job', 'gift', 'share', 'film', 'review', 'interview', 'star', 'month', 'status', 'development', 'petrol', 'well']

keyCntDict = {}
stopVal=False
with open('data.csv','r') as f:
    for x in f:
        tuples=x.split(',')
        enCount=0
        hiCount=0
        totalWordCount=0
        otherCount=0
        neCount=0
        words = tuples[2].replace("\"", "").split(" ")
        
        for i in range(0, len(words)) :
            wordVal = words[i].lower()
            if wordVal in keyWords : 
                if wordVal not in keyCntDict.keys():
                    val = {'u_hi':0, 'u_cmh':0, 'u_en':0}
                    keyCntDict[wordVal]=val
               
                if idToTypeMap[tuples[0]] == 'EN' :
                    keyCntDict[wordVal]['u_en']+=1
                elif idToTypeMap[tuples[0]] == 'HI' :
                    keyCntDict[wordVal]['u_hi']+=1
                elif idToTypeMap[tuples[0]] == 'CMH' :
                    keyCntDict[wordVal]['u_cmh']+=1

In [27]:
stmt = "Job found after Interview"
keyCntDict

{'development': {'u_cmh': 3, 'u_en': 182, 'u_hi': 0},
 'film': {'u_cmh': 47, 'u_en': 785, 'u_hi': 16},
 'gift': {'u_cmh': 14, 'u_en': 227, 'u_hi': 5},
 'interview': {'u_cmh': 13, 'u_en': 242, 'u_hi': 0},
 'job': {'u_cmh': 6, 'u_en': 457, 'u_hi': 2},
 'month': {'u_cmh': 3, 'u_en': 149, 'u_hi': 0},
 'petrol': {'u_cmh': 26, 'u_en': 14, 'u_hi': 5},
 'review': {'u_cmh': 31, 'u_en': 800, 'u_hi': 12},
 'share': {'u_cmh': 7, 'u_en': 347, 'u_hi': 1},
 'star': {'u_cmh': 33, 'u_en': 435, 'u_hi': 3},
 'status': {'u_cmh': 6, 'u_en': 92, 'u_hi': 0},
 'well': {'u_cmh': 42, 'u_en': 2882, 'u_hi': 1}}

In [64]:
keyToTwSt={}

for key, val in keyCntDict.iteritems():
    twVal = float(val['u_hi']+val['u_cmh'])/float(val['u_en'])
    keyToTwSt[key]=twVal
    

keyToTwSt

{'development': 0.016483516483516484,
 'film': 0.08025477707006369,
 'gift': 0.08370044052863436,
 'interview': 0.05371900826446281,
 'job': 0.0175054704595186,
 'month': 0.020134228187919462,
 'petrol': 2.2142857142857144,
 'review': 0.05375,
 'share': 0.023054755043227664,
 'star': 0.08275862068965517,
 'status': 0.06521739130434782,
 'well': 0.014920194309507287}

In [65]:
for w in sorted(keyToTwSt, key=keyToTwSt.get, reverse=True):
    print w, keyToTwSt[w]

petrol 2.21428571429
gift 0.0837004405286
star 0.0827586206897
film 0.0802547770701
status 0.0652173913043
review 0.05375
interview 0.0537190082645
share 0.0230547550432
month 0.0201342281879
job 0.0175054704595
development 0.0164835164835
well 0.0149201943095

In [66]:
for w in sorted(keyToCntDict, key=keyToCntDict.get, reverse=True):
    print w, keyToCntDict[w]

film 32
status 25
gift 19
interview 19
star 18
petrol 5
job -4
review -5
share -25
development -31
well -36
month -51

In [9]:
import scipy.stats
x=[7,3,9,1,8,4,5,12,2,10,6,11]
y=[10,2,8,3,6,7,4,9,5,11,1,2]

scipy.stats.spearmanr(x,y)

SpearmanrResult(correlation=0.42732114568639123, pvalue=0.16587727319738638)

In [9]:
import scipy.stats
import numpy as np

x=np.array([-4,19,-25,32,-5,19,18,-51,32,-31,5,-36])
y=np.array([.0175,.0837,.0231,.0803,.0538,.0537,.0828,.0201,.0652,.0165,2.2143,.0149])

print scipy.stats.pearsonr(x,y)

scipy.stats.spearmanr(x,y)

(0.1193612024884414, 0.71176840839037459)

SpearmanrResult(correlation=0.69474111876427891, pvalue=0.012158444463298652)

In [14]:
import scipy.stats
x=[7,3,9,1,8,4,5,12,2,10,6,11]
y=[10,4,8,3,6,7,2,9,5,11,1,12]

print scipy.stats.pearsonr(x,y)

scipy.stats.spearmanr(x,y)

(0.71328671328671334, 0.0092017797776347606)

SpearmanrResult(correlation=0.71328671328671334, pvalue=0.0092017797776347554)

In [13]:
import scipy.stats
import numpy as np

x=np.array([-4,19,-25,32,-5,19,18,-51,32,-31,5,-36])
y=np.array([.0191,.0784,.0216,.0865,.0519,.0446,.0888,.0191,.0571,.0233,1.778,.0146])

print scipy.stats.pearsonr(x,y)

scipy.stats.spearmanr(x,y)

(0.12647510993217073, 0.69529608196634796)

SpearmanrResult(correlation=0.70298878337620374, pvalue=0.0107678412582263)

In [26]:


def queue_get_all(q):
    items = []
    maxItemsToRetreive = 10
    for numOfItemsRetrieved in range(0, maxItemsToRetreive):
        try:
            if numOfItemsRetrieved == maxItemsToRetreive:
                break
            items.append(q.get_nowait())
        except Queue.Empty:
            break
    return items

In [70]:
from multiprocessing import Queue
from Queue import Empty

def queue_get_all(q):
    items = []
    count=0
    while True:
        count+=1
        try:
            #print "qGetCount" + str(count)
            items.append(q.get_nowait())
            #print "itemsdequeued" + str(count)
        except Empty:
            break
    return items

In [53]:
def queue_add_all(q):
    items = Queue()
    deQueuedItems = queue_get_all(q)
    
    for numOfItemsRetrieved in range(0, len(deQueuedItems)):
        items.put(deQueuedItems[numOfItemsRetrieved])
        #q.put(deQueuedItems[numOfItemsRetrieved])
    return items

In [76]:
from multiprocessing import Queue

q=Queue(maxsize=0)
q.put([])
count=0
totalItems=0
while count < 12:
    #print "count is "  + str(count)
    count+=1
    tempQ = queue_add_all(q)
    print "totalItems" + str(totalItems)
    totalItems=0
    while tempQ.empty()==False:
        print "starting"
        lVal=tempQ.get()
        for i in range(1,13):
            if i not in lVal:
                lVal.append(i)
                q.put(lVal)
                totalItems+=1

#while !q.empty():

totalItems0
starting
totalItems12
totalItems0
starting
starting
starting
starting
starting
starting
starting
starting
starting
starting
starting
starting
totalItems0
totalItems0
totalItems0
totalItems0
totalItems0
totalItems0
totalItems0
totalItems0
totalItems0

In [67]:
q=Queue(maxsize=0)
q.put([])
tempQ = queue_add_all(q)

qGetCount1
itemsdequeued1
qGetCount2